.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.image-wrapper {
    width: 150px;
    height: 150px;
    margin-bottom: 70px;
    animation: bounce 3s ease-in-out infinite;
}

.loading-content {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: spin 3.5s linear infinite;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.loading-img{
    max-width: 250px;
    max-height: 250px;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-30px);
    }
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.loading-text {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Courier New', monospace;
}

.dots {
    display: inline-block;
    width: 30px;
    text-align: left;
}

.dots::after {
    content: '';
    animation: dots 3s steps(4, end) infinite;
}

@keyframes dots {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}